* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho {
    background: black;
    width: 100vw;
    height: 50vh;
    color: #ffffff;
    padding: 40px;
    position: relative;
}

h1 {
    position: absolute;
    margin: 10vh auto 20px 235px;
    width: 827px;
    text-align: center;
    font-size: 40px;
    font-weight: 20px;
}

#p-cabecalho {
    position: absolute;
    width: 950px;
    margin: 19vh auto 20px 235px;
}

button {
    padding: 25px;
    width: 159px;
    height: 63px;
    color: #ffffff;
    background: #333333;
    position: absolute;
    margin: 28vh auto 20px 40vw;
    cursor: pointer;
}

button:hover {
    color: #000000;
    background: #ffffff;
}

/* parte 2 */
#web {
    width: 100vw;
    height: 20vh;
    position: relative;

}

h2 {
    margin: 30px auto 30px 550px;

}

.p-web {
    display: inline-block;
    width: 400px;
    height: 90px;
    font-size: 17px;
    color: #333333;
    margin-bottom: 40px;
}

#web-1 {
    margin-left: 380px;
}

#web-2 {
    margin-left: 20px;
}

/* parte 3 */
.blocos {
    width: 100vw;
    height: 70vh;
    background: #333333;
    position: relative;
    padding: 30px;
}

.bloquinhos {
    width: 250px;
    height: 400px;
    display: inline-block;
    background: #ffffff;
    cursor: pointer;

}

#webr {
    margin-left: 300px;
    margin-right: 25px;
}

#mobile {
    margin-right: 25px;
    margin-top: 20px;
}

#img-mobile {
    width: 250px;
}

#img-webr {
    width: 250px
}

#img-tech {
    width: 250px
}

.titulo {
    color: #333333;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.corpo {
    width: 250px;
    height: 220px;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    color: #333333;
}

#simples {
    width: 100vw;
    height: 20vh;
}

#important {
    font-size: 25px;
    text-align: center;
    color: #333333;
    margin-top: 30px;
    margin-bottom: 25px;
}

#roger {
    color: #333333;
    font-size: 20px;
    width: 800px;
    text-align: center;
    margin-left: 25vw;
    margin-top: 20px;

}

/*  Contact */
#contact {
    position: relative;
    width: 100vw;
    height: 30vh;
    display: inline-block;
    text-align: center;
    padding: 32px;
}

#left {
    width: 50%;
    height: 30vh;
    display: inline-block;
    background: #2690D4;
    color: #ffffff;
    margin-right: 682px;

}

.rab {
    margin-top: 20px;
    text-align: 1px;
    width: 400px;
    height: 70px;
}

#esquerda {
    margin-left: 89px;
}

#direita {
    margin-left: 100px;

}

#link-contact {
    cursor: pointer;
    margin-top: 30px;

}

#right {
    width: 50%;
    height: 30vh;
    background: #333333;
    color: #ffffff;
    position: absolute;
    display: inline-block;
    margin-left: 588px;
    left: 30px;
    top: 30px
}

.titulo-2 {
    font-size: 27px;
    font-weight: 20px;
    margin: 30px 10px 30px 10px;

}

#footer {
    width: 100vw;
    height: 15vh;
    background: #000000;
    position: static;
    margin-top: 40px;
}

.footer {
    color: #ffffff;
    display: inline-block;
    position: relative;
    margin-top: 40px;
}

#footer-1 {
    position: absolute;
    margin-left: 340px;

}

#footer-2 {
    position: absolute;
    margin-left: 1000px;
}

#blue {
    color: #2690D4;
}


@media(max-width: 1158px) {
    h1 {
        margin-left: -100px;
        font-size: 30px;
        position: absolute;

    }


#p-cabecalho {
    margin-left: 50px;
    width: 600px;
}

button {
    margin-top: 352px;
    margin-left: 260px;
}

h2 {
    margin-left: 220px;
}

.p-web {
    display: block;
    width: 400px;
    height: 100px;
    margin-left: 260px;
    text-align: justify;
}

#web-1 {
    margin-left: 200px;
}

#web-2 {
    margin-left: 200px;
}

.blocos {
    height: 1500px
}

.bloquinhos {
    display: block;

}

#webr {
    margin-left: 240px;
    margin-top: 40px;
}

#mobile {
    margin-left: 240px;
    margin-top: 40px;
}

#tech {
    margin-left: 240px;
    margin-top: 40px;
}

#important {
    width: 350px;
    margin-left: 210px;

}

#roger {
    margin-top: 40px;
    width: 300px;
    margin-left: 210px;
}

#left {
    display: block;
    position: absolute;
    width: 100vw;
    margin-left: -30px;
}

#right {
    display: block;
    position: absolute;
    width: 100vw;
    margin-top: 360px;
    margin-left: -30px;
}

.titulo-2 {
    margin-left: 140px;
    position: absolute;
    margin-left: 200px;
}

#link-contact {
    position: absolute;
    margin-top: 270px;
    margin-left: -300px;
}

.rab {
    position: absolute;
    margin-top: 150px;
    text-align: justify;
}

.footer {
    display: none;
}


@media(max-width: 655px) {
        .cabecalho {
            height: 63vh;
        }

    h1 {
        margin-left: -255px;
        font-size: 20px;
        position: absolute;
                }
}

#p-cabecalho {
    margin-left: 50px;
    width: 250px;
    font-size: 15px;
    text-align: justify;
}

button {
    margin-top: 352px;
    margin-left: 100px;
}

h2 {
    margin-left: 100px;
}

.p-web {
    display: block;
    width: 270px;
    height: 100px;
    margin-left: 100px;
    text-align: justify;
    font-size: 14px;
}

#web-1 {
    margin-left: 50px;
    font-size: 14px;
    width: 270px;
}

#web-2 {
    margin-left: 50px;
    font-size: 14px;
}

.blocos {
    height: 1500px
}

.bloquinhos {
    display: block;

}

#webr {
    margin-left: 60px;
    margin-top: 40px;
}

#mobile {
    margin-left: 60px;
    margin-top: 40px;
}

#tech {
    margin-left: 60px;
    margin-top: 40px;
}

#important {
    width: 350px;
    margin-left: 40px;
    font-size: 20px;

}

#roger {
    margin-top: 40px;
    width: 250px;
    margin-left: 90px;
}

#left {
    display: block;
    position: absolute;
    width: 100vw;
    margin-left: -30px;
}

#right {
    display: block;
    position: absolute;
    width: 100vw;
    margin-top: 360px;
    margin-left: -30px;
}

.titulo-2 {
    position: absolute;
    margin-left: 150px;
    margin-top: 30px;
}

#link-contact {
    position: absolute;
    margin-top: 270px;
    margin-left: -300px;
}

.rab {
    position: absolute;
    margin-top: 150px;
    text-align: justify;
}

.footer {
    display: none;
}

#esquerda {
    margin-left: 40px;
    width: 314px;
    font-size: 18px;
    margin-top: 102px;
}

#direita {
    margin-left: 40px;
    width: 314px;
    margin-top: 100px;
}

#about {
    margin-left: 90px;
}
@media (max-width:350px){
    .cabecalho {
        height: 50vh;
    }

    
    h1 {
        margin-left: -295px;
        font-size: 15px;
        position: absolute;
                }
}


#p-cabecalho {
    margin-left: 24px;
    width: 180px;
    font-size: 13px;
    text-align: justify;
}

button {
    width: 77px;
    height: 13px;
    margin-top: 352px;
    margin-left: 80px;
    font-size: 10px;
    text-align: center;
    padding: 20px;
    padding-top: 8px;
 

}

h2 {
    margin-left: 80px;
    font-size: 18px;
}

.p-web {
    display: block;
    width: 190px;
    height: 100px;
    margin-left: 80px;
    text-align: justify;
    font-size: 12px;
}

#web-1 {
    margin-left: 50px;
    font-size: 12px;
    width: 190px;
}

#web-2 {
    margin-left: 50px;
    font-size: 14px;
}

.blocos {
    height: 1400px
}

.bloquinhos {
    display: block;
 
}

#webr {
    margin-left: 1px;
    margin-top: 40px;

}

#mobile {
    margin-left: 1px;
    margin-top: 40px;
}

#tech {
    margin-left: 1px;
    margin-top: 40px;
}

#important {
    width: 350px;
    margin-left: -15px;
    font-size: 16px;

}

#roger {
    margin-top: 50px;
    width: 180px;
    margin-left: 60px;
    text-align: justify;
    font-size: 14px;
   }

#left {
    display: block;
    position: absolute;
    width: 100vw;
    margin-left: -30px;
}

#right {
    display: block;
    position: absolute;
    width: 100vw;
    margin-top: 360px;
    margin-left: -30px;
}

.titulo-2 {
    position: absolute;
    margin-left: 85px;
    margin-top: 30px;
}

#link-contact {
    position: absolute;
    margin-top: 270px;
    margin-left: -300px;
}

.rab {
    position: absolute;
    margin-top: 150px;
    text-align: justify;
}

.footer {
    display: none;
}

#esquerda {
    margin-left: 50px;
    width: 210px;
    font-size: 14px;
    margin-top: 102px;
}

#direita {
    margin-left: 50px;
    width: 210px;
    margin-top: 100px;
}

#about {
    margin-left: 50px;
    font-size: 25px;
}
